

.infocardrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 50px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%
}


.infocardrow-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100.1%;
    height: 50px;
    background-color: #1a1a1a;
    border-top-left-radius: 17px;
    border-top-right-radius: 18px;
}


.infocardrow-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}


.infocardrow-icon {
    margin-left: 20px;
    
}


.infocardrow-title {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 21px;

    color: white;
}